* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
    font-family: 'Raleway', sans-serif;
}

ul li {
    list-style: none;
}

.container {
    width: 90%;
    display: block;
    margin: 0 auto;
}

section {
    font-size: 13px;
    line-height: 1.3;
}
